body{
 font-family: 'Poppins', sans-serif;
}

header{
    height: 59px;
    width: 100%;
    margin-top: 41px;
    display: flex;
    align-items: center;
    
}

.container{
    margin: 0 auto;
    width: 1193px;
}

.header_flex, .footer_flex, .section_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 55px;
}

header nav ul li a{
    color: #666;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.header_links, .footer_links{
    display: flex;
    gap: 20px;
    align-items: center;
}

main.container{
    margin-top: 220px;
}

.section_1 {
    display: flex;
    justify-content: space-between;
}


.section_1_left_block {
    margin-top: 35px;
    width: 635px;
}

.h1_subtitle{
    color: var(--Solid-Heading, #42446E);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    letter-spacing: -1px;
}

.h1_name{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_2{
    margin-top: 124px;
}


.section_2_title{
    color: #42446E;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: -0.4px;
    margin: 0;
    padding-top: 38px;
}

.section_2_description{
    color: var(--dark-content, #666);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 708px;
    margin-top: 38px;
}


.section_2_experience_item, .section_2_education_item{
    display: flex;
    align-items: center;
    height: 17px;
}

.section_2_subtitle{
    color: var(--dark-content, #666);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.section_2_img{
    margin-right: 5px;
}

.section_2_text{
    color: var(--light-Content, #A7A7A7);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    letter-spacing: 1px;
}

.section_2_text_place1{
    margin-right: 26px;
}

.section_2_text_location{
    width: 100px;
    margin-right: 175px;

}

.section_2_places::after{
    content: '';
    width: 698px;
    height: 2px;
    background: var(--colors-grey, #EBEAED);
    position: absolute;
    margin: 24px 0 30px;
}

.section_2_places{
    padding-top: 30px;
}

.section_2_text_place2{
    margin-right: 59px;
}

.section_2_text_place3{
    margin-right: 178px;
}

.section_2_text_place{
    margin-right: 272px;
}

.footer_flex{
    margin-top: 125px;
}

.footer_contacts a{
    color: var(--Solid-Heading, #42446E);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}

.footer_contacts_tel{
    width: 149.19px;
    margin: 0 63px 0 400px;
}

.section_flex{
    margin: 107px auto 60px;
}

section nav ul{
    list-style: none;
    display: flex;
    gap: 55px;
    padding: 0;
}
section nav ul li a{
    color: var(--Solid-Heading, #42446E);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}

.footer_text{
    color: var(--dark-content, #666);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-right: 9px;
}

.footer_text_color{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer::after {
    content: '';
    width: 1193px;
    height: 5.682px;
    background:var(--dark-content, #666);
    position: absolute;
    opacity: 0.3;
    margin: 42px 0;
}